.item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Patrick Hand';
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-right: 30px;
  margin-top: 50px;
  &-menu {
    color: #7357a3d9;
    text-decoration: none;
     font-family: 'Patrick Hand';
     font-weight: 600;
     letter-spacing: 0.1rem;
  }

  &.active {
    color: rgb(255, 255, 255);
  }
}

.item:hover {
  color: #8265b4d9;
  transition: 0.3s;
}
